# Ignore large data files
data/pretrain_data.csv
data/encoded_texts.pt
checkpoint/decoder_transformer.pth

# Ignore all `.pt` and `.csv` files in `data/` folder (optional)
data/*.pt
data/*.csv

# Ignore backup files
*.bak
*.log
